{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-3 px-0">
    <ul class="list-group" style="padding-left: 0; margin-left: 0;">
        {% for dish in dishes %}

        <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-left: 0;">
            <div class="w-100 d-flex justify-content-start align-items-center">
                <span>{{ dish.name }}</span>
                <span class="badge badge-primary ml-2">{{ dish.description }}</span>
                <span class="badge badge-secondary ml-2">{{ dish.price }}</span>
                <img src="{{ dish.image.url }}" alt="Изображение" style="max-width: 250px;" class="ml-2">
                <!-- Кнопка для добавления в корзину -->
                <a href="{% url 'add_to_cart' dish.id %}" class="btn btn-success ml-3">Положить в корзину</a>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item" style="padding-left: 0;">Блюд не найдено.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}